<!--
  Author:    Peter Forsling
  Partner:   Noah Jackson
  Date:      24 September 2020
  Course:    CS 4540, University of Utah, School of Computing
  Copyright: CS 4540 and Peter Forsling/Noah Jackson - This work may not be copied for use in Academic Coursework.

  I, Peter Forsling/Noah Jackson, certify that I wrote this code from scratch and did not copy it in part or whole from
  another source.  Any references used in the completion of the assignment are cited in my README file.

  File Contents

    This file contains the HTML code to display the expanded details of a particular research opportunity.
-->

@model URC.Models.Opportunity


<div>
    <table id="photo-author-title">
        <!--This table represents the main informational sections of the opportunity,
            inluding the title, author, and the button to apply for the research opportunity-->
        <tr>
            <td id="photo-col">
                <img src=@Html.DisplayFor(modelItem => Model.Image) class="center">
                <input type="button" id="apply-button" value="Apply" onclick="window.location.href='/Student/Application';"> <!--Not sure if this is the long term solution-->
            </td>
            <td id="author-title-col">
                <table id="author-title">
                    <tr>
                        <td>
                            <h1>
                                @Html.DisplayFor(modelItem => Model.ProjectName)
                            </h1>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Professor: @Html.DisplayFor(modelItem => Model.ProfessorName)
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>

<!--The redbox div makes the red margins on each side of the page-->
<div id="red-box">
    <div id="description">
        <div id="general-summary">
            <h2 class="section-head">
                General Summary
            </h2>
            <!--The expanded summary of the opportunity.-->
            <p id="summary-body">
                @Html.DisplayFor(modelItem => Model.ProjectDescription)
            </p>
        </div>
        <div id="requirements">
            <h2 class="section-head">
                Desired Skills
            </h2>
            <!--The skillset items that the researcher is looking for in a research assistant-->
            @for (var i = 0; i < Model.RequiredSkills.Count - 1; i++)
            {
                @Html.DisplayFor(moduleItem => Model.RequiredSkills.ElementAt(i).Skill)<text>, </text>
            }
            @if (Model.RequiredSkills.Count > 0)
            {
                @Html.DisplayFor(moduleItem => Model.RequiredSkills.ElementAt(Model.RequiredSkills.Count - 1).Skill)
            }
        </div>
        <br>
        <br>
    </div>
</div>
